$option-hover: darken(white, 10%);

.Search__anchor {
  anchor-name: --search-anchor;
}

.Search__input--anchor {
  anchor-name: --search-input-anchor;
}

.Search__container {
  position: absolute;
  position-anchor: --search-input-anchor;
  justify-self: anchor-center;
  border-radius: var(--border-radius);
  z-index: 999;
  &.displaying-results {
    height: 20px;
  }
}

#overlay {
  position-anchor: --search-anchor;
  position: absolute;
  left: 0;
  top: anchor(bottom);
  background-color: black;
  opacity: 20%;
  height: 100%;
  z-index: 500;
}

.Search__option {
  text-decoration:none;
  color: black;
  height: 2rem;
  background-color: white;
  padding-left: 8px;
  display: block;
  border-bottom: 1px solid lightgrey;
  &:first-child {
    padding-top: 4px;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }
  &:last-child {
    padding-bottom: 4px;
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border: none;
  }
  &:hover {
    background-color: $option-hover;
  }
}

.Search__input {
  width: 250px;
}
