.Product__Card {
  anchor-name:--productAnchor;
  height: 425px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 200px;
}

.Product__Card__admin_links {
  position: fixed;
  position-anchor: --productAnchor;
  bottom: anchor(bottom);
  margin-bottom: 8px;
}

.Product__Card__description {
  .trix-content {
    height: 50px;
  }
}
