<div class="flex flex-column mt-1 mx-auto ml-5 mr-5">
  <div class="Images flex-5">
    <%= image_carousel %>
  </div>
  <div class="Details flex-3">
    <%= product_details %>
  </div>
  <%#<div class="ProductReviews"> %>
  <%#= product_reviews %>
  <%#</div> %>
</div>
