<div class="bg-white rounded-xl shadow-lg overflow-hidden">
  <div class="flex flex-col md:flex-row">
    <div class="w-full md:w-1/2 p-4">
      <%= image_carousel %>
    </div>
    <div class="w-full md:w-1/2 p-6">
      <%= product_details %>
    </div>
  </div>
</div>
