<%= tag.turbo_frame id:"review_#{@review.id}" do %>
  <div class="Review p-05 mb-05">
    <div>Title:
      <%= @review.title %></div>

    <div>
      <%= @review.body %>
    </div>

    <% if links? %>
      <% links.each do |link| %>
        <%= link %>
      <% end %>
    <% end %>

  </div>
<% end %>
