<%= tag.turbo_frame id:"review_#{@review.id}" do %>
  <div class="bg-slate-200 p-4 my-4 rounded-lg shadow-lg">
    <div>Title:
      <%= @review.title %></div>

    <div>
      <%= @review.body %>
    </div>

    <% if links? %>
      <div class="mt-2">
        <% links.each do |link| %>
          <%= link %>
        <% end %>
      </div>
    <% end %>

  </div>
<% end %>
