<div class="flex-row" id="searchForm">
  <div
    data-controller="search-component"
    data-search-component-url-value="<%= @url %>"
  >
    <div
      id="overlay"
      data-search-component-target="overlay"
      data-action="click->search-component#closeOverlay"
      class="hidden w-100"
    ></div>
    <form
      class="Search__input--anchor"
      action="<%= @url %>"
      data-search-component-target="searchForm"
    >
      <div class="form-input inline">
        <%= text_field_tag :query,
                           nil,
                           autocomplete: "off",
                           id: "searchInput",
                           class: "Search__input",
                           data: {
                             search_component_target: "searchInput",
                             action:
                               "
                              keyup->search-component#search
                              keyup->search-component#updateLinkHref
                              keyup.enter->search-component#clickSearch
                              keydown.down->search-component#handleSearchKeydown
                              keydown.tab->search-component#handleSearchKeydown
                              keydown.up->search-component#handleSearchKeyup
                          ",
                           } %>
      </div>
      <a href=<%= @url %> data-search-component-target="searchButton">
        Search
      </a>
    </form>
    <div
      id="searchOptionsContainer"
      class="Search__container"
      data-search-component-target="searchOptionsContainer"
      data-action="
        keydown.up->search-component#handleNavigateUp
        keydown.down->search-component#handleNavigateDown
      "
    ></div>
  </div>
</div>
