<div
  class="flex-row"
  id="searchForm"
  data-controller="search-component"
  data-search-component-url-value="<%= @url %>"
>
  <div
    id="overlay"
    data-search-component-target="overlay"
    data-action="click->search-component#closeOverlay"
    class="hidden w-100"
  ></div>
  <form
    class="Search__input--anchor"
    action="<%= @url %>"
    data-search-component-target="searchForm"
  >
    <div class="form-input inline">
      <%= text_field_tag :query,
      nil,
      placeholder: @input_placeholder,
      type: "search",
      aria: {
        label: "Search",
      },
      autocomplete: "off",
      id: "searchInput",
      class: "Search__input",
      data: {
        search_component_target: "searchInput",
        action: @key_events,
      } %>
    </div>
    <button
      type="submit"
      data-search-component-target="searchButton"
      class="Search__button"
    >
      Search
    </button>
  </form>
  <div
    id="searchOptionsContainer"
    class="Search__container"
    data-search-component-target="searchOptionsContainer"
    data-action="
      keydown.up->search-component#handleNavigateUp
      keydown.down->search-component#handleNavigateDown
    "
  ></div>
</div>
