<div
  class="flex-row relative"
  id="searchForm"
  data-controller="search-component"
  data-search-component-url-value="<%= @url %>"
>
  <div
    id="overlay"
    data-search-component-target="overlay"
    data-action="click->search-component#closeOverlay"
    class="hidden fixed left-0 top-0 bg-black opacity-20 h-full w-full z-50"
  ></div>
  <%= render TooltipComponent.new(tooltip_text: "Simulus and ViewComponent. Search is done via pg_search gem for full text search") do %>
  <form
    class="Search__input--anchor flex items-center"
    action="<%= @url %>"
    data-search-component-target="searchForm"
  >
    <%= text_field_tag :query,
    nil,
    placeholder: @input_placeholder,
    type: "search",
    aria: {
      label: "Search",
    },
    autocomplete: "off",
    id: "searchInput",
    class: "px-3 py-2 rounded-md border-2 border-gray-400 h-10 bg-white inline-block sm:w-80 focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50 shadow-sm",
    data: {
      search_component_target: "searchInput",
      action: @key_events,
    } %>
    <button
      type="submit"
      data-search-component-target="searchButton"
      class="ml-2 h-10 px-4 py-2 inline-flex items-center border border-transparent rounded-md font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition"
    >
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
      </svg>
      Search
    </button>
  </form>
  <% end %>
  <div
    id="searchOptionsContainer"
    class="
      hidden absolute mt-1 w-full sm:w-80 rounded-md z-50 bg-white border-2
      border-gray-200 shadow-lg overflow-hidden
    "
    data-search-component-target="searchOptionsContainer"
    data-action="
      keydown.up->search-component#handleNavigateUp
      keydown.down->search-component#handleNavigateDown
    "
  ></div>
</div>
