<div class="flex-row" id="searchForm">
  <div data-controller="search-component" data-search-component-url-value=<%= @url %>>
    <div
      id="overlay"
      data-search-component-target="overlay"
      data-action="click->search-component#closeOverlay"
      class="hidden w-100"
    ></div>
    <form
      class="Search__input--anchor"
      action="<%= @url %>"
      data-search-component-target="searchForm"
    >
    <div class="form-input inline">
      <input
        name= "query"
        type="text"
        class="Search__input"
        data-search-component-target="searchInput"
        data-action="keyup->search-component#search keyup->search-component#updateLinkHref"
      />
      </div>
      <%#<button%>
      <%#  type="submit"%>
      <%#  data-search-component-target="searchButton"%>
      <%#  data-action="click->search-component#search"%>
      <%#>Search</button>%>
    <%= link_to "Search", "#{@url}?query=", data: {"search-component-target": "searchButton"} %>
    </form>
    <div
      class="Search__container"
      data-search-component-target="searchOptionsContainer"
    ></div>
  </div>
</div>
