<% @count.times do %>
  <div class="bg-white rounded-xl shadow-md overflow-hidden w-full max-w-sm">
    <div class="h-48 w-full bg-gray-200 shimmer"></div>
    <div class="p-4 space-y-4">
      <div class="h-6 w-3/4 bg-gray-200 shimmer rounded"></div>
      <div class="h-4 w-1/2 bg-gray-200 shimmer rounded"></div>
      <div class="h-10 w-full bg-gray-200 shimmer rounded"></div>
    </div>
  </div>
<% end %>
