@use "variables";

.ProductDetails__status--out-of-stock-x {
  color: variables.$color-error;
  font-weight: 800;
}

.ProductDetails__status--archived {
  color: variables.$color-error;
  font-weight: 600;
}

.ProductDetails__price--dollars {
  font-size: 1.5rem;
}

.ProductDetails__price--cents {
  vertical-align: super;
  font-size: 0.75rem;
}
