<% stores.each do |store| %>
  <%= link_to store_path(store), class: 'StoreCard__link' do %>
    <div class="StoreCard">
      <%= image_tag store.spotlight.variant(:thumb), class: "StoreCard__image" %>
      <div class="StoreCard__content">
        <h3 class="StoreCard__title"><%= store.name %></h3>
        <p class="StoreCard__description"><%= store.mission_statement %></p>
        <button class="StoreCard__shop-button">Shop Now</button>
      </div>
    </div>
  <% end %>
<% end %>
