@mixin tabletAndUp {
  @media (min-width: 50rem) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 50rem) {
    @content;
  }
}
.container {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;

  @include tabletAndUp {
    width: initial;
    margin-left: 50px;
    margin-right: 50px;
  }
}
