@use "mixins/media" as mixins;

.container {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;

  @include mixins.tabletAndUp {
    display: block;
    width: initial;
    margin-left: 50px;
    margin-right: 50px;
  }
}
