@use "variables";

.Footer__Container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: variables.$primary-color;
  position: fixed;
  bottom: 0;
  width: 100%;

  .Footer__Links {
    display: flex;
    gap: 16px;
    a {
      text-decoration: none;
      color: variables.$text-color-dark;
      font-size: 1rem;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
