.navbar {
  display: flex;
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-secondary);
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .brand {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  a {
    text-decoration: none;
    &:visited {
      color: #000;
    }
  }
}

.navbar .menu {
  display: flex;
  gap: 15px;
  background-color: #d7bfa9;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 26px;
}

.navbar .menu a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 20px;
  transition: background 0.3s;
}

.navbar .menu a:hover {
  background-color: #b39d86;
}

.navbar .cart-icon {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  background-color: #d7bfa9;
  padding: 8px;
  border-radius: 50%;
  transition: background 0.3s;
  aspect-ratio: 1;
}

.navbar .cart-icon:hover {
  background-color: #b39d86;
}

.navbar .account-icon {
  background-color: #d7bfa9;
  border-radius: 50%;
  transition: background 0.3s;
  height: 48px;
}

.navbar .account-icon:hover {
  background-color: #b39d86;
}
