@use "../mixins/media";
@use "../variables";

.Navbar {
  display: flex;
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-secondary);
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.Navbar__brand {
  font-size: 24px;
  font-weight: bold;
  a {
    text-decoration: none;
    color: #000;
    &:visited {
      color: #000;
    }
  }
}

.Navbar__menu {
  display: flex;
  gap: 15px;
  background-color: #d7bfa9;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 26px;
  align-items: center;

  a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    padding: 4px 8px;
    border-radius: 20px;
    transition: background 0.3s;
  }
  a:hover {
    background-color: #b39d86;
  }

  &.account-icon {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.Navbar .cart-icon {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  padding: 8px;
  border-radius: 50%;
  transition: background 0.3s;
  aspect-ratio: 1;

  &:hover {
    background-color: #b39d86;
  }
}

.Navbar__item .account-icon {
  background-color: #d7bfa9;
  border-radius: 50%;
  transition: background 0.3s;
  height: 48px;

  &:hover {
    background-color: #b39d86;
  }
}
