@mixin tabletAndUp {
  @media (min-width: 50rem) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 50rem) {
    @content;
  }
}

.StoreReviews__container {
  @include tabletAndUp {
    width: 50%;
  }
}
.StoreReviews__review {
  box-shadow: var(--box-shadow);
  background-color: white;
  border-radius: var(--border-radius)
}
