@use "variables";
@use "mixins/media" as mixins;

.StoreReviews__container {
  @include mixins.tabletAndUp {
    width: 50%;
  }
}
.StoreReviews__review {
  box-shadow: variables.$box-shadow;
  background-color: white;
  border-radius: variables.$border-radius;
}
