<% if @active_user %>

  <% if path === 'orders_index' %>
    <%= link_to "View", orders_path %>
  <% end %>

  <% if path === 'cart_show' %>
    <%= link_to user_cart_path(@active_user), params: { user_entity: @active_user.class.name } do %>
      <div>
        <i class="fa-solid fa-cart-shopping cart-icon"></i>
        <span><%= @cart.cart_item_totals %></span>
      </div>
    <% end %>
  <% end %>

  <% if path === 'log_out' %>
    <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete } %>
  <% end %>
<% end %>
