<div class="container mt-5 mx-auto sm:h-screen h-dvh">
  <div class="mb-6 flex flex-col items-center">
    <h1 class="text-3xl font-bold text-gray-800 mb-2">Create a new Fulfillment Partner</h1>
    <div class="h-1 w-24 bg-indigo-600 rounded"></div>
    </div>
  <%= render "form",
  fulfillment_partner: @fulfillment_partner,
  csv_header_options: @csv_header_options %>
</div>
