.form-input {
  display: flex;
  flex-direction: column;

  input,
  textarea {
    border-radius: 4px;
    padding-left: 4px;
    height: 2rem;
  }
  textarea {
    padding-top: 4px;
    height: 128px;
  }

  &.inline {
    display: inline-block;
  }
}
