<div class="container mt-5 mx-auto sm:h-screen h-dvh">
  <h1 class="text-2xl">Managing
    <%= @store.name %>
  </h1>

  <div class="StoreImage_container mb-05">
    <%= turbo_frame_tag "store_image", src: store_admin_store_store_image_path(current_store_admin, @store, 1), class: "mx-center" do %>
      <%#TODO: Extract into SkeletonCardComponent %>
      <div class="card skeleton">
        <div class="image shimmer"></div>
        <div class="title shimmer"></div>
        <div class="price shimmer"></div>
        <div class="edit shimmer"></div>
      </div>
    <% end %>
  </div>

  <div>
    <%= link_to "Edit Store",
    edit_store_admin_store_path(current_store_admin, @store),
    class: "button block w-fit mt-2" %>
  </div>

  <div>
    <%= link_to "Manage Products",
    store_admin_store_products_path(current_store_admin, @store),
    class: "button mt-2 block w-fit" %>
  </div>
</div>
