<main>
  <div class="Home__hero__container">
    <%= image_tag "concept_landing_hero.jpg", class: "Home__hero__image" %>
  </div>
  <div class="Home__featured__container container">
    <h2 class="Home__featured__title">Featured Stores</h2>
    <div class="flex flex-wrap justify-evenly gap-1.5">
      <%= render StoreCardComponent.with_collection(@stores) %>
    </div>
  </div>
</main>
