<%# If this was ready for production, move this /products.json to the store#show page or add some sort of scoping so the number of records that are retrieved aren't out of control %>
<main
  class="store-container"
  data-controller="home"
  data-home-url-value="/products.json"
>
  <%= render "stores/store_featured_cards", stores: @stores %>
</main>
