<table class="table-fixed w-full border border-solid border-gray-300">
  <thead class="border-solid border-b border-gray-300">
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% cart.sorted_cart_items.each do |item| %>
      <tr class="h-12 border border-solid border-gray-300">
        <td class="w-1/3 text-xl pl-2"><%= item.product.name %></td>
        <td class="w-1/3 border border-solid border-gray-300">
          <%= render "carts/qty_incrementor", item: item, cart: cart %>
        </td>
        <td class="w-1/3 text-center"><%= number_to_currency(item.total_price) %></td>
      </tr>
    <% end %>
    <tr class="h-12 border border-solid border-gray-300">
      <td class="w-1/3 text-xl pl-2">
      <td class="w-1/3 text-xl pr-2 text-right">Total:</td>
      <td class="w-1/3 text-center border border-solid border-gray-300"><%= number_to_currency cart.total_price %></td>
    </tr>
  </tbody>
</table>
