<div>
  <h1 class="font-bold text-4xl">StoreAdmin::Services#index</h1>
  <%= link_to "New Service",
  new_store_admin_store_service_path(
    current_store_admin,
    current_store_admin.store,
  ),
  class: "button mt-4 block w-fit" %>
</div>
