@use "components/index.scss";
@use "layouts/index.scss" as layoutsIndex;
@use "utilities/index.scss" as utilitiesIndex;
@use "actiontext.css";
@use "actiontext_custom.scss";
@use "mixins/media";

@use "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: variables.$text-color-dark;
  font-family: variables.$font-family;
  background-color: variables.$bg-color;
}

button {
  cursor: pointer;
  border-radius: variables.$border-radius;
  height: 2rem;
  padding-left: 4px;
  padding-right: 4px;
}
