@use "components/index.scss";
@use "layouts/index.scss" as layoutsIndex;
@use "utilities/index.scss" as utilitiesIndex;
@use "actiontext.css";
@use "actiontext_custom.scss";

// Variables
* {
  --font-family: "Arial, sans-serif";
  --primary-color: #2a9d8f;
  --secondary-color: #264653;
  --light-color: #e9c46a;
  --dark-color: #1d3557;
  --text-color: #333;
  --bg-card: #27272a;
  --primary: #6d28d9;
  --primary-800: #4c1d95;
  --primary-shadow: #2e1065;
  --light: #d9d9d9;
  --zinc-800: #18181b;
  --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);
  --bg-primary: #e8effa;
  --bg-secondary: #efeeec;
  --button-primary: #c6ac8f;
  --button-hover: #b39d86;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --border-radius: 8px;
}
// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scrollbar-gutter: stable;
  background-color: var(--bg-primary);
}
