<h1>Products</h1>
<%= turbo_frame_tag "store_products" do %>
  <div class="Store__product_container mb-05">
    <%= render(ProductCardComponent.with_collection(@products)) %>
  </div>
  <% if @pagy_products.count > 0 %>
    <%== pagy_nav(@pagy_products) %>
  <% end %>
<% end %>
