<%= render "products/product_card", store: @product.store, product: @product %>

<div data-controller="review">
  <button
    data-action="review#toggleReviewForm"
    data-review-target="reviewFormTrigger"
  >Add Your Review</button>

  <%= render "reviews/form", reviewable: @product, review: @new_review %>

  <div class="Product__review-container">
    <% @product.reviews.each do |review| %>
      <%= review.title %>
    <% end %>
  </div>
</div>

<div>
  <%= link_to "Back to store", store_path(@product.store) %>
</div>
