<%#<div class="Navbar Search__anchor"> %>
<%#  <div class="Navbar__brand"> %>
<%#= link_to "StoreFront", root_path %>
<%#  </div> %>
<%# %>
<%# %>
<%#  <div class="Navbar__menu"> %>
<%# if current_user || current_store_admin %>
<%#= render "shared/#{user_type}_links", path: "orders_index" %>
<%# end %>
<%#= render "shared/#{user_type}_links", path: "cart_show" %>
<%#  </div> %>
<%#</div> %>
<nav
  class="Search__anchor navbar navbar-expand-sm bg-primary"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggler"
      aria-controls="navbarToggler"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <%= link_to "StoreFront", root_path, class: "navbar-brand" %>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <%= render(SearchComponent.new(url: "/product_search")) %>
    </div>
  </div>
</nav>
