<div
  class="
    Search__anchor flex flex-row justify-between pl-4 pr-4 bg-amber-200 min-h-14
    items-center shadow-md sticky top-0 z-50
  "
>
  <div class="font-black text-2xl">
    <%= link_to root_path do %>
      <i class="fa-brands fa-forumbee" title="MarketHive"></i>
    <% end %>
  </div>

  <%= render(
    SearchComponent.new(
      url: "/search",
      input_placeholder: "Search Products...",
      key_events: %w[
        keyup->search-component#search
        keyup->search-component#updateLinkHref
        keydown.down->search-component#handleSearchKeydown
        keydown.tab->search-component#handleSearchKeydown
        keydown.up->search-component#handleSearchKeyup
      ],
    ),
  ) %>

  <div class="Navbar__menu">
    <% if current_user || current_store_admin %>
      <%= render "shared/#{user_type}_links", path: "orders_index" %>
    <% end %>
    <%= render "shared/#{user_type}_links", path: "cart_show" %>
  </div>
</div>
