<div class="navbar-top" data-controller="tooltip">
  <div class="hamburger-trigger">
    <i
      class="fa fa-bars"
      data-action="click->tooltip#toggleMenu"
      data-tooltip-target="menuTrigger"
    ></i>
  </div>

  <div class="off-screen-menu" data-tooltip-target="offScreen">
    <p>Home</p>
    <p>Cart</p>
    <p>Account</p>
  </div>
</div>
